body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f3f3f3;
}
nav{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: black;
    top: -10px;
    z-index: 15;
}
nav>div:nth-child(1){
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav>div>div:nth-child(1)>img{
    width: 150%;
    height: 68px;
}
nav>div>div:nth-child(2){
    font-size: 13px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
nav>div>div:nth-child(2) p{
    color: white;
    height: 0;
}
#main{
    width: 82%;
    margin: auto;
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
#first{
    width: 70%;
}
#first>div:nth-child(1){
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
#first>div:nth-child(1)>span:nth-child(1){
    font-size: 20px;
    margin-right: 5px;
}
#firstchild2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 0 15px 0;
    background-color: white;
    overflow-y: scroll;
    height: 550px;
}
#second{
    width: 28%;
    padding-top: 0px;
}
table{
    width: 100%;
}
table>thead>tr:nth-child(1){
    position: sticky;
    top: -20px;
    background-color: black;
    height: 45px;
    color: white;
}

table th , table td{
    width: 33%;
    text-align: center;
}
table>tbody td{
    padding: 25px 0 25px 0;
}
table img{
    margin-top: 15px;
    width: 100%;
    height: 80px;
}
#content{
    display: flex;
    justify-content: space-between;
}
table>tbody>tr>td:nth-child(1)>div:nth-child(2){
    width: 100%;
}
table>tbody>tr>td:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    width: 40%;
}
table>tbody>tr>td:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    width: 60%;
}
table>tbody>tr>td:nth-child(1)>div:nth-child(2)>div:nth-child(2)>*{
    height:10px;
}
table>tbody>tr>td:nth-child(3){
    line-height: 5px;
}
table>tbody>tr{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#first button{
    border: 0;
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
}
#firstchild3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 10px 15px 10px;
    margin: 10px 0 10px 0 ;
    position: sticky;
    z-index: 1px;
    bottom: 0;
    background-color: white;
}
#placeOrder{
    background-color: orange;
    color: white;
    font-weight: bolder;
}
#paymentSummary{
    margin-bottom: 15px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#paymentSummary>div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#shippingAdd{
    margin-top: 0px;
    line-height: 0px;
}
#shippingAdd>p, #shippingAdd>input {
    padding: 12px 10px 12px 10px;
}
#shippingAdd>input{
    height: 10px;
    margin: 0 0 0 10px;
}
#shippingAdd button{
    height: 37px;
    width: 20%;
    font-size: 15px;
    border: 0;
    background-color:black ;
    color: white;
}
#continueShopping{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
}
.heading{
    color: white;
    padding: 0 10px 20px 10px;
    margin-bottom: 0;
}
#partnerOffers{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 0 15px 0;
    margin-bottom: 15px;
}
#partnerOffers>div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#partnerOffers>div:nth-child(2){
    width: 80%;
    margin: auto;
    background-color: #fffaef;
    border: 1px dashed #e3daad;
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
}
#offersAvailable{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 0 15px 0;
}
#offersAvailable>div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#offersAvailable>div:nth-child(2){
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
#offersAvailable>div:nth-child(2)>input{
    width: 70%;
    height: 30px;
    border: 0;
    padding: 10px 15px 10px 15px;
}
#offersAvailable>div:nth-child(2)>button{
    border: 0;
    color: orange;
    font-size: 15px;
    background-color: white;
    margin-left: 1px;
}
#second img{
    width:25px;
    margin-right: 1%;
}
.btn{
    font-size: 20px;
    background-color: white;
    border: 0;
}
#footer{
    text-align: center;
    padding: 15px 0 15px 0;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    position: relative;
    bottom: -100px;
}
#footer>p{
    font-size: 12px;
    color: rgb(127, 122, 122);
}
#footer img{
    width: 50%;
}
#totalPrice{
    margin: 12px;
    display: grid;
    grid-template-rows:3;
    gap: 8px; 
}
#totalPrice div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#totalPrice>div:nth-child(2)>span:nth-child(2){
    color: green;
}
#totalPrice>div:nth-child(3){
    font-size: 22px;
    font-weight: bold;
}
#totalPrice>div:nth-child(3)>span:nth-child(2){
    color: red;
}
#paymentSummary>div:nth-last-child(1){
    font-size: 12px;
    padding: 0 10px 2px 10px ;
}



#mediaTotal{
    width: 94%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 15px 0 15px 0;
}
#mediaTotal input{
    width: 150px;
    height: 35px;
    border-radius: 15px;
    font-weight: bolder;
}
#mediaTotal{
    display:none; 
}
#aamount{
    color: green;
    font-size: 20px;
}
#charges{
    font-size: 8px;
    color: red;
    display: none;
}

@media all and (min-width:800px) and (max-width:1100px){
    #second{
        display: none;
    }
    #first{
        width: 100%;
    }
    nav>div>div:nth-child(2){
        display: none;
    }
    #mediaTotal{
        width: 93%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 25px 5px 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 15px 0 15px 0;
    }

}
@media all and (min-width:350px) and (max-width:799px){
    #second{
        display: none;
    }
    #first{
        width: 100%;
    }
    #content>div:nth-child(1){
        width: 90%;
    }
    #content>div:nth-child(2){
        display: none;
    }
    nav>div>div:nth-child(2){
        display: none;
    }
    #mediaTotal{
        width: 91%;
        background-color: white;
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;
        align-items: center;
        padding: 5px 25px 5px 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 15px 0 15px 0;
    }
}